main {
  background: #F3DDBD;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-family: 'Poppins', sans-serif;
}

#main {
  height: auto;
  min-height: 100vh;
  width: 1080px;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navTextArea {
  display: flex;
  align-items: center;
}

#navButtonArea {
  display: flex;
  align-items: center;
}

#signIn {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.squareButton {
  background:#E2CEB0;
  height: 35px;
  width: 35px;
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.squareButton:hover {
  background: #DABB9E;
}

.buttonIcons {
  height: 50%;
  width: auto;
}

#swiftdrop {
  font-weight: 800;
  font-size: 30px;
  margin: 0 10px 0 0;
  padding: 0;
}

#userName {
  font-weight: 300;
  font-size: 30px;
}

#content-body {
  margin: 30px 0 0 0;
}

#itemList {
  display: flex;
  flex-wrap: wrap;
}

.singleItem {
  background: #E2CEB0;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px 15px 0;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  position: relative;
  transition: 0.4s ease-in-out;
}

.singleItem:hover {
  background: #DABB9E;
}

#itemName {
  font-weight: 800;
  line-height: 1;
  margin: 0;
  font-size: 20px;
  z-index: 1;
}

#itemPrice {
  font-weight: 300;
  line-height: 1.3;
  margin: 5px 0 0 0;
  font-size: 16px;
  z-index: 1;
}

#itemSeller {
  font-weight: 300;
  line-height: 1.3;
  margin: 5px 0 0 0;
  font-size: 16px;
  z-index: 1;
}

#itemBackground {
  background: #E2CEB0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 8px;
  top: 10px;
  left: 10px;
  opacity: 50%;
}








