main {
  background: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

#main {
  background:burlywood;
  height: 500px;
  width: 1400px;
}

#non-user {
  background: cadetblue;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navTextArea {
  background: blue;
  display: flex;
  align-items: center;
}

.squareButton {
  background:coral;
  height: 30px;
  width: 30px;
}

